.detail-page {
  margin-top: 20px;
  color: #333;
  border-radius: 10px;
  width: 1600px;
}

.detail-wrapper {
  background-color: white;
  box-shadow: 0 4px 10px #00000014;
  padding: 0 80px 0 0;
  border-radius: 15px;
  margin: 0 auto;
  width: 1030px;
}

.detail-content {
  flex: 1;
  text-align: left;
  border-left: 1px solid #333;
  padding-left: 80px;
}

.detail-content h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.price {
  color: #c23e00ff;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.desc {
  color: #555;
  margin-bottom: 10px;
  line-height: 1.6;
}

.detail-wrapper img {
  height: 400px;
  width: 450px;
  margin-bottom: 10px;
  object-fit: fill;
  border-radius: 5px;
}

.dt-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dt-icbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #0b3eac;
  color: white;
  border-radius: 5px;
  gap: 10px;
  width: 200px;
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.quantity input {
  background: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: none;
  border-right: none;
  padding: 8px 5px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.dt-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  cursor: pointer;
  border: 1px solid #333;
}