.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    width: 18%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    border-radius: 8px;
}