.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 65%;
    overflow: auto;
    scrollbar-width: none;
    padding: 20px 0 40px 0;
}

.product-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    width: 230px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-item a {
    width: 100%;
}

.pd-footer {
    width: 100%;
}

.product-item p {
    padding: 0 15px;
    margin-bottom: 5px;
}

.product-item p:last-child {
    font-weight: bold;
}

.product-item img {
  height: 200px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 10px;
  object-fit: fill;
  display: block;
  z-index: 100;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    padding: 0 10px 10px;
    width: 40%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #0b3eac;
    color: white;
    border-radius: 5px;
    gap: 10px;
    width: 100%;
}