.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 5px;
  padding: 10px 16px 10px 16px;
  background-color: white;
  width: 1100px;
  transition: all 0.25s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.searchbar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  padding: 8px 8px 8px 10px;
  color: #333;
  background: transparent;
  transition: color 0.25s ease;
}

.searchbar input::placeholder {
  color: #707070;
  transition: color 0.25s ease;
}

.searchbar input:focus::placeholder {
  color: #ccc;
}

.s-icon {
  padding: 10px 20px;
  background: #062c80;
  border-radius: 5px;
}

.search-icon {
  font-size: 1.3rem;
  color: white;
  transition: color 0.25s ease;
}
